body{
    background: #f0f0f0;
}
.topbox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    /* align-content: center; */
    background-color: #29bde0;
}
.top1{
    padding-left: 11px;
    line-height: 45px;
}
.lastgamebox{
    display: flex;
    justify-content: space-between;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 15px;
    line-height: 60px;
    border: 1px solid #c0c0c0;
    background-color: #fff;
    
}
.lastgame{
    /* line-height: 60px; */
    color: #9a9a9a;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.mainbox{
    margin: 0 18px;
    text-align: center;
    border: 1px solid #c0c0c0;
    background-color: #fff;
}
.maintop{
    font-size: 18px;
    line-height: 60px;
    border-bottom: 1px solid #fbb435;
    font-weight: 700;
    color: #fbb435;
}
.mainbutton{
    width: 80%;
    border: 0;
    background-color: #29bde0;
}
.mainbutton0{
    padding: 13px;
    
}
.mainbutton2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainbotton3{
    margin-right: 7px;
    
}
.maina{
    line-height: 67px;
    font-size: 16px;
    color: #fff
}
.mainp{
    margin: 13px 0;
    color: #787878;
}
.mainbottompbox{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}
.mainbottomp2{
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;    
}
.mainbottomp2:hover{
    background-color: #29bde0;
}